@font-face {
    font-weight: 400;
    font-family: "Syncopate";
    font-style: normal;
    src: url("../assets/fonts/syncopate-v19-latin-regular.woff2") format("woff2"), 
        url("../assets/fonts/syncopate-v19-latin-regular.woff") format("woff");
}

@font-face {
    font-weight: 700;
    font-family: "Syncopate";
    font-style: normal;
    src: url("../assets/fonts/syncopate-v19-latin-700.woff2") format("woff2"), 
        url("../assets/fonts/syncopate-v19-latin-700.woff") format("woff");
}

@font-face {
    font-weight: 300;
    font-family: "Raleway";
    font-style: normal;
    src: url("../assets/fonts/raleway-v28-latin-300.woff2") format("woff2"), 
        url("../assets/fonts/raleway-v28-latin-300.woff") format("woff");
}

@font-face {
    font-weight: 400;
    font-family: "Raleway";
    font-style: normal;
    src: url("../assets/fonts/raleway-v28-latin-regular.woff2") format("woff2"), 
        url("../assets/fonts/raleway-v28-latin-regular.woff") format("woff");
}

@font-face {
    font-weight: 500;
    font-family: "Raleway";
    font-style: normal;
    src: url("../assets/fonts/raleway-v28-latin-500.woff2") format("woff2"), 
        url("../assets/fonts/raleway-v28-latin-500.woff") format("woff");
}

@font-face {
    font-weight: 600;
    font-family: "Raleway";
    font-style: normal;
    src: url("../assets/fonts/raleway-v28-latin-600.woff2") format("woff2"),
        url("../assets/fonts/raleway-v28-latin-600.woff") format("woff");
}

@font-face {
    font-weight: 700;
    font-family: "Raleway";
    font-style: normal;
    src: url("../assets/fonts/raleway-v28-latin-700.woff2") format("woff2"), 
        url("../assets/fonts/raleway-v28-latin-700.woff") format("woff");
}