.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.main {
    flex: 1 0 auto;
}


.container{
    max-width: 1232px;
    margin: 0 auto;
    padding: 0 10px;
}

.container-fluid{
    max-width: 1932px;
    margin: 0 auto;
    padding: 0 10px;
}