// transitions
$transition-slower:          0.5s;
$transition-slow:            0.35s;
$transition-normal:          0.25s;
$transition-medium:          0.15s;
$transition-fast:            0.1s;

// hovers
$transition-hover-on:        $transition-fast;
$transition-hover-off:       $transition-normal;

// fonts
$font-family-syncopate:        "Syncopate", sans-serif;
$font-family-raleway:         "Raleway", sans-serif;

//colors
$default: #fff;
$title:rgba(255, 255, 255, 0.62);

//z-index
$z-top:1000;
$z-bottom:100;