// Размеры экрана
$screen-sm:                  320px;
$screen-md:                  768px;
$screen-lg:                  1280px;
$screen-xl:                  1440px;
//992,1024

// Переходы
$transition-slower:          0.5s;
$transition-slow:            0.35s;
$transition-normal:          0.25s;
$transition-medium:          0.15s;
$transition-fast:            0.1s;

// Ховеры
$transition-hover-on:        $transition-fast;
$transition-hover-off:       $transition-normal;

// Актуальный шрифт
$font-family-montserrat:        "Montserrat", sans-serif;
$font-family-open-sans:         "Open Sans", sans-serif;

$title: #363838;
$default: #5a5a5a;
$alto: #dfdfdf;
$dove-gray: #707070;
$silver-chalice:#a1a1a1;

$white:#f4f6f9;
$dark :#343030;
$normal: #403432;
$hover: #776763;
$disable: #c1b4b1;
$add: #5b3a32;
$discount:#a0a0a0;
$bg: #eceaea;
$footer:#555;
$gray: #8f8d8d;
$gallery: #454647;
$yellow: #ffef35;

//z-index
$z-top:1000;
$z-bottom:100;