footer.footer 
    .footer__container
        .footer__content
            a.footer__logo(href="#main") 
                img.footer__img(src="../assets/img/header/logo.svg", alt="logo")
            p.footer__copyright
                | © 2021 story ventures. All rights reserved.
            span.footer__address
                | website by #[a.footer__link.link__underline(href="https://e-scape.agency/" target="_blank") escape]