- var data = [{link: "https://deeper.network/", alt: "deeper", number: 1},{link: "https://casper.network/en/network", alt: "casper", number: 2},{link: "https://www.splytcore.org/", alt: "splytcore", number: 3},{link: "https://compli.fi/", alt: "compli.fi", number: 4},{link: "https://nftify.network/", alt: "nftify", number: 5},{link: "https://rocketvaults.io/", alt: "rocketvaults", number: 6},{link: "https://plasmapay.com/", alt: "plasmapay", number: 7},{link: "https://www.charged.fi/", alt: "charged.fi", number: 8},{link: "https://www.home.stackos.io/", alt: "stackos", number: 9},{link: "https://www.gains-associates.com/", alt: "gains", number: 10},{link: "https://pandora.finance/", alt: "pandora", number: 11},{link: "https://formation.fi/", alt: "formation", number: 12}];

section.investment
    .investment__container
        h3.investment__title
            | Selected Investments 
        ul.investment__items
            each val in data
                li.investment__item
                    a.investment__link(href=`${val.link}` target="_blank" )
                        .investment__link-box
                            img.investment__img(src=`../assets/img/investment/logo${val.number}.png` alt=`${val.alt}`)
