main.main
    .container
        //- include main/main
        include promo/promo
        include about/about
        include investment/investment
        include construct/construct
        include contact/contact
    include popup/popup