header.header.lock-padding
    .header__bg
    .header__container
        a.header__logo(href="#main")
            img.header__img(src="../assets/img/header/logo.svg", alt="logo" width="87" height="87")
        nav.menu 
            ul.menu__list
                li.menu__item
                    a.menu__link.link__underline(href="#about") About
                li.menu__item
                    a.menu__link.link__underline(href="#investment") Projects
                li.menu__item
                    a.menu__link.link__underline(href="#construct") Philosophy
                li.menu__item
                    a.menu__link.link__underline(href="#contact") Contacts
            a.menu__link.link__underline(href="https://twitter.com/story_ventures" target="_blank") twitter
        .header__btn.js-popup-link
            span.header__line
            span.header__line
            span.header__line
            span.header__line





