header.header.lock-padding
    .header__container
        a.header__logo(href="#")
            img.header__img(src="../../assets/img/header/logo.svg", alt="logo" width="87" height="87")
        nav.menu 
            ul.menu__list
                li.menu__item
                    a.menu__link.link__underline(href="#") About
                li.menu__item
                    a.menu__link.link__underline(href="#") Projects
                li.menu__item
                    a.menu__link.link__underline(href="#") Philosophy
                li.menu__item
                    a.menu__link.link__underline(href="#") Contacts
            a.menu__link(href="#") twitter
        .header__btn.js-popup-link
            span.header__line
            span.header__line
            span.header__line
            span.header__line





